main {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 1fr;
}

section {
  margin: 1% 10% 5%;
}

.info {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  text-align: center;
  padding: 2% 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.info a {
  padding: 1% 4%;
  margin: 1% 5%;
  background: #0c3c60;
}

.projects {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.project {
  padding: 3% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: beige;
  border-radius: 50px;
}

.project-info {
  margin-left: 2%;
  text-align: justify;
  max-width: 80%;
}

.project img {
  border-radius: 100px;
  height: 200px;
}
