section img {
  width: 140px;
  height: auto;
  display: inline;
}

main {
  background: white;
  text-align: center;
  margin: 0 auto;
}

main section {
  padding: 3% 10%;
  margin: 8% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background: #abe2ff;
}

main p {
  padding: 0 10%;
}

div {
  border: none;
}

.member {
  width: 40%;
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  color: #0c3c60;
  background: beige;
  border-radius: 50px;
}

.member img {
  border-radius: 20px;
}

.member .role {
  margin: auto;
  text-align: center;
}

.member h3 {
  font-weight: 400;
  font-style: italic;
}
